{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<h1 class="position-fixed text-success-emphasis"> {{request.user.username}} </h1>{% comment "user that is logged in " %}{% endcomment %}


{% for post in posts reversed %}
<div class="container d-flex justify-content-center">

    <div class="w-50 p-3 bg-dark text-white border rounded-5 shadow-lg my-3">
        <a href="{% url 'profile' post.username %}" class="text-decoration-none">
            {% comment %} <img src="{{user_profile.profile_img.url}}" alt="user_image"> {% endcomment %}
            <h1 class="text-primary">@{{post.username}} </h1>
        </a>
        <div class="mb-1"><img src="{{post.image.url}}" alt="post_image" class="img-fluid mx-auto d-block border" height="400" width="400">
        </div>
        <hr>
        <h3 class="text-success">{{post.caption}}</h3>
        <hr>

        <a href="{% url 'likes' %}?post_id={{post.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg></a> {{post.likes}}

        <div>{{post.created_at}}</div>
        <span><a href="{{post.image.url}}" download>Download</a></span>
    </div>

</div>
{% endfor %}

{% endblock body %}